:root {
    --dashboard-clr: #2694d1;
    --dashboard-clr--contrast: #FFF;
    --main-clr: #FFF;
    --main-clr--contrast: #1f1f1f;
    --secondary-clr: #e1e7ef;
    --system-ui: "roboto", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --border-radius: 15px;
    --profile-photo--big: 75px;
    --profile-photo--small: 50px;
    --icon--big: 50px;
    --icon--small: 25px;
    --gap: 25px;
}

body {
    margin: 0px;
    font-family: var(--system-ui);
    color: var(--main-clr--contrast);
}

.content {
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
    gap: var(--gap);
    background-color: var(--secondary-clr);
}

.projects__card,
.announcements__card,
.trending__card {
    background-color: var(--main-clr);
    border-radius: var(--border-radius);
}

.grid-container {
    display: grid;
    grid-template: 1fr 4fr / 1fr 4fr;
}

.header {
    grid-column: 2 / -1;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.header__actions {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: var(--gap);
}

.header__actions li {
    list-style: none;
}

.header__bottom-row {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.header__button {
    background-color: var(--dashboard-clr);
    border: none;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    cursor: pointer;
    font-size: max(14pt, 1rem);
    font-weight: 700;
    color: var(--dashboard-clr--contrast);
}

.header__greetings {
    display: grid;
    grid-template-columns: var(--profile-photo--big) auto;
    gap: var(--gap);
}

.header__search {
    display: grid;
    grid-template-columns: var(--icon--small) auto;
    gap: var(--gap);
}

.header__search-input {
    background-color: var(--secondary-clr);
    border: none;
    border-radius: var(--border-radius);
}

.header__top-row {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: var(--gap);
}

.header__user {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: var(--gap);
}

.icon--big {
    height: var(--icon--big);
    width: var(--icon--big);
}

.icon--small {
    height: var(--icon--small);
    width: var(--icon--small);
}

.profile-photo--big {
    height: var(--profile-photo--big);
    width: var(--profile-photo--big);
    border-radius: calc(var(--profile-photo--big) / 2);
}

.profile-photo--small {
    height: var(--profile-photo--small);
    width: var(--profile-photo--small);
    border-radius: calc(var(--profile-photo--small) / 2);
}

.projects {
    grid-row: 1 / -1;
}

.projects__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
}

.projects__icon {
    fill: var(--main-clr--contrast);
}

.sidebar {
    grid-row: 1 / 3;
    background-color: var(--dashboard-clr);
}

.sidebar a {
    text-decoration: none;
    color: var(--dashboard-clr--contrast);
}

.sidebar li {
    font-size: max(14pt, 1rem);
    font-weight: 700;
    list-style: none;
    
}

.sidebar__icon {
    fill: var(--dashboard-clr--contrast);
    margin-right: 24px;
}